#myModal.modal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Crear proyecto
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/projects/',method='POST')
          .form-group
            label.col-form-label(for='nombre') Nombre del proyecto:
            input.form-control(type='text', id='name', name='name')
            .form-group
            label.col-form-label(for='duedate') Fecha de solicitud del proyecto:
            input.form-control(type='date', id='dueDate',name='dueDate')
          .form-group
            label.col-form-label(for='startdate') Fecha de arranque del proyecto:
            input.form-control(type='date', id='startDate',name='startDate')
          .form-group
            label.col-form-label(for='description') Descripcion del proyecto:
            textarea.form-control(id='description',name='description')
          .form-group
            label.col-form-label(for='scrumMaster1') Scrum master:
            input(hidden='true' id='scrumMaster' name='scrumMaster',value=usuario.id)
            input.form-control(readonly='true',type='text',id='scrumMastername' name='scrumMastername' value=usuario.fullName)
          .form-group 
            label.col-form-label(for='owners') Dueño del producto:   
            vue-multiselect(
              id='owners',
              name='owners',
              v-model="ownerseleccionados",
              deselect-label="Can't remove this value",
              track-by="_id",
              label="_fullName",
              placeholder="Agrega a un dueño del producto",
              :options="usersoptions",
              :searchable="false",
              :allow-empty="false"
            )
            input(hidden='true',id='owner',name='owner' :value="ownerseleccionados._id")
            input(hidden='true',id='ownerName',name='ownerName' :value="ownerseleccionados._fullName")
          .form-group
            label.col-form-label(for='members') Equipo de trabajo:
            vue-multiselect(
              id='members',
              name='members',
              v-model="usuariosseleccionados",
              tag-placeholder="Add this as new tag",
              placeholder="Agrega a un miembro de trabajo",
              label="_fullName",
              track-by="_id",
              :options="usersoptions",
              :multiple="true",
              :taggable="true",
              @tag="addTag"
            )
            input(hidden='true',id='team',name='team', v-for="usuariosseleccionado in usuariosseleccionados" :value="usuariosseleccionado._id")
            input(hidden='true',id='teamName',name='teamName', v-for="usuariosseleccionado in usuariosseleccionados" :value="usuariosseleccionado._fullName")
          .form-group
            input.btn.btn-primary(type='submit')  
            button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar  
