extends ../layout
block content
  div(id='app')
    .container-scroller
      nav.navbar.default-layout.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
        .text-center.navbar-brand-wrapper.d-flex.align-items-top.justify-content-center
          a.navbar-brand.brand-logo(href='/')
            strong SCRUMPage
          a.navbar-brand.brand-logo-mini(href='/')
            img(src='/images/logo-mini.svg' alt='logo')
        .navbar-menu-wrapper.d-flex.align-items-center

          ul.navbar-nav.navbar-nav-right
            li.nav-item.dropdown.d-none.d-xl-inline-block
              a#UserDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-expanded='false')
                span.profile-text Hola, #{usuario.fullName}!
                img.img-xs.rounded.circle(src=usuario.thumbnail)
              .dropdown-menu.dropdown-menu-right.navbar-dropdown(aria-labelledby='UserDropdown')
                a.dropdown-item.p-0
                  .d-flex.border-bottom
                    .py-3.px-4.d-flex.align-items-center.justify-content-center
                      i.mdi.mdi-bookmark-plus-outline.mr-0.text-gray
                    .py-3.px-4.d-flex.align-items-center.justify-content-center.border-left.border-right
                      i.mdi.mdi-account-outline.mr-0.text-gray
                    .py-3.px-4.d-flex.align-items-center.justify-content-center
                      i.mdi.mdi-alarm-check.mr-0.text-gray
                a.dropdown-item(@click='profile(usuario.id)', href="/users/id/"+usuario.id)
                  | Mi Perfil
                a.dropdown-item(@click='profile(usuario.id)', href="/users/edit/id/"+usuario.id)
                  | Editar Mi Perfil
                a.dropdown-item(href='/auth/logout')
                  | Salir
          button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type='button' data-toggle='offcanvas')
            span.mdi.mdi-menu

      .container-fluid.page-body-wrapper
        nav#sidebar.sidebar.sidebar-offcanvas
          ul.nav
            li.nav-item.nav-profile
              .nav-link
                .user-wrapper
                  .profile-image
                    img(src=usuario.thumbnail)
                  .text-wrapper
                    p.profile-name #{usuario.fullName}
                    div
                      small.designation.text-muted #{usuario.role}
                      span.status-indicator.online

                button.btn.btn-success.btn-block(type='button' data-toggle='modal' data-target='#myModal')
                  | Crear Tarjeta
                  i.mdi.mdi-plus
            li.nav-item
              a.nav-link(href='/team/list')
                i.menu-icon.mdi.mdi-television
                span.menu-title Miembros
            li.nav-item
              a.nav-link(href='/projects/list')
                i.menu-icon.mdi.mdi-table
                span.menu-title Proyectos
            li.nav-item
              a.nav-link(href='/projects/retro/'+projects._id)
                i.menu-icon.mdi.mdi-clipboard-text
                span.menu-title Retrospectivas
        .main-panel
          .content-wrapper
            strong #{projects._name}
            input(hidden='true' id='proyectoid', name='proyectoid' value=projects._id)
            div
              if usuario.id==projects._scrumMaster
                br
                if projects._open
                  button.btn.btn-warning(@click='cambiarEstado') Cerrar Proyecto
                else
                  button.btn.btn-warning(@click='cambiarEstado') Abrir Proyecto

            .row
              if projects.owner==usuario.id
                .col-lg-12.grid-margin.stretch-card
                  .card
                    .card-body
                      h4.card-title Validar Tarjetas
                      .table-responsive
                        table.table
                          thead
                            tr
                              th Nombre
                              th Como
                              th Quiero
                              th De tal manera
                              th Prioridad
                              th Tamaño
                              th Unidad
                              th Dado
                              th Cuando
                              th Entonces
                              if usuario.id==projects._owner
                                th Validar Tarjeta
                                th Rechazar Tarjeta
                            tbody(data-id=index, id="row"+index, v-for="storie,index in stories")
                                tr(v-if=`storie._projectId == "${projects._id}"  && !storie._status`)
                                      td(id='tblnombre'+index)
                                        if usuario.id==projects._scrumMaster
                                          button(data-toggle='modal',data-target='#editar',@click='buscarhistoria(storie._id)') {{storie._nombre}}
                                        else
                                          p {{storie._nombre}}
                                        input(hidden='true',id='storieId', name='storieId' v-model='storie._id')
                                      td(id='tblcomo'+index)  {{storie._como}}
                                      td(id='tblquiero'+index)  {{storie._quiero}}
                                      td(id='tblmanera'+index)  {{storie._manera}}
                                      td(id='tblprioridad'+index)  {{storie._prioridad}}
                                      td(id='tbltamaño'+index)  {{storie._tamaño}}
                                      td(id='tblunidad'+index)  {{storie._unidad}}
                                      td(id='tbldado'+index)  {{storie._dado}}
                                      td(id='tblcuando'+index)  {{storie._cuando}}
                                      td(id='tblentonces'+index)  {{storie._entonces}}
                                      if usuario.id==projects._owner
                                        td
                                          button.btn.btn-light(@click='validTarjeta') Validar Tarjeta
                                        td
                                          button.btn.btn-light(@click='rechazarTarjeta') Rechazar Tarjeta

            .row
              .col-lg-12.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title Product Backlog
                    .table-responsive
                      table.table
                        thead
                          tr
                            th Nombre
                            th Como
                            th Quiero
                            th De tal manera
                            th Prioridad
                            th Tamaño
                            th Unidad
                            th Dado
                            th Cuando
                            th Entonces
                            if usuario.id==projects._owner
                              th Validar Tarjeta
                              th Rechazar Tarjeta
                          tbody(data-id=index, id="row"+index, v-for="storie,index in stories")
                              tr(v-if=`storie._projectId == "${projects._id}" && storie._backlog=='9' && storie._status`)
                                    td(id='tblnombre'+index)
                                      if usuario.id==projects._scrumMaster
                                        button.btn.btn-light(data-toggle='modal',data-target='#editar',@click='buscarhistoria(storie._id)') {{storie._nombre}}
                                      else
                                        p {{storie._nombre}}
                                      input(hidden='true',id='storieId', name='storieId' v-model='storie._id')
                                    td(id='tblcomo'+index)  {{storie._como}}
                                    td(id='tblquiero'+index)  {{storie._quiero}}
                                    td(id='tblmanera'+index)  {{storie._manera}}
                                    td(id='tblprioridad'+index)  {{storie._prioridad}}
                                    td(id='tbltamaño'+index)  {{storie._tamaño}}
                                    td(id='tblunidad'+index)  {{storie._unidad}}
                                    td(id='tbldado'+index)  {{storie._dado}}
                                    td(id='tblcuando'+index)  {{storie._cuando}}
                                    td(id='tblentonces'+index)  {{storie._entonces}}
                                    if usuario.id==projects._owner
                                      td
                                        button.btn.btn-light(@click='validTarjeta') Validar Tarjeta
                                      td
                                        button.btn.btn-light(@click='rechazarTarjeta') Rechazar Tarjeta
            .row
              .col-lg-12.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title Release Backlog 1
                    button.btn.btn-success(data-toggle='modal',data-target='#retro') Agregar retrospectiva
                    .table-responsive
                      table.table.table.connected-sortable.droppable-area1
                        thead
                          tr
                            th Nombre
                            th Como
                            th Quiero
                            th De tal manera
                            th Prioridad
                            th Tamaño
                            th Unidad
                            th Dado
                            th Cuando
                            th Entonces
                          tbody(data-id=index, id="row"+index, v-for="storie,index in stories")
                              tr.draggable-item(v-if=`storie._projectId=="${projects._id}" && storie._backlog=='1'`)
                                    td(id='tblnombre'+index)
                                      if usuario.id==projects._scrumMaster
                                        button.btn.btn-light(data-toggle='modal',data-target='#editar2',@click='buscarhistoria(storie._id)') {{storie._nombre}}
                                      else
                                        p {{storie._nombre}}
                                    td(id='tblcomo'+index)  {{storie._como}}
                                    td(id='tblquiero'+index)  {{storie._quiero}}
                                    td(id='tblmanera'+index)  {{storie._manera}}
                                    td(id='tblprioridad'+index)  {{storie._prioridad}}
                                    td(id='tbltamaño'+index)  {{storie._tamaño}}
                                    td(id='tblunidad'+index)  {{storie._unidad}}
                                    td(id='tbldado'+index)  {{storie._dado}}
                                    td(id='tblcuando'+index)  {{storie._cuando}}
                                    td(id='tblentonces'+index)  {{storie._entonces}}
            .row
              .col-lg-4.grid-margin.stretch-card
                .card
                  .card-body
                    a.nav-link(href='/projects/burndown')
                      span.menu-title Sprint Backlog 1.1
                    .table-responsive
                      table.table.table.connected-sortable.droppable-area2
                        thead
                          tr
                            th Nombre
                            th Como
                            th Quiero
                            th De tal manera
                            th Prioridad
                            th Tamaño
                            th Unidad
                            th Dado
                            th Cuando
                            th Entonces
                          tbody(data-id=index, id="row"+index, v-for="storie,index in stories")
                              tr.draggable-item(v-if=`storie._projectId=="${projects._id}" && storie._backlog=='3'`)
                                    td(id='tblnombre'+index)
                                      if !usuario.id==projects._scrumMaster
                                        button(data-toggle='modal',data-target='#editar4',@click='buscarhistoria(storie._id)') {{storie._nombre}}
                                      else
                                        p {{storie._nombre}}
                                    td(id='tblcomo'+index)  {{storie._como}}
                                    td(id='tblquiero'+index)  {{storie._quiero}}
                                    td(id='tblmanera'+index)  {{storie._manera}}
                                    td(id='tblprioridad'+index)  {{storie._prioridad}}
                                    td(id='tbltamaño'+index)  {{storie._tamaño}}
                                    td(id='tblunidad'+index)  {{storie._unidad}}
                                    td(id='tbldado'+index)  {{storie._dado}}
                                    td(id='tblcuando'+index)  {{storie._cuando}}
                                    td(id='tblentonces'+index)  {{storie._entonces}}

              .col-lg-4.grid-margin.stretch-card
                .card
                  .card-body
                    a.nav-link(href='/projects/burndown')
                      span.menu-title Sprint Backlog 1.2
                    .table-responsive
                      table.table.table.connected-sortable.droppable-area4
                        thead
                          tr
                            th Nombre
                            th Como
                            th Quiero
                            th De tal manera
                            th Prioridad
                            th Tamaño
                            th Unidad
                            th Dado
                            th Cuando
                            th Entonces
                          tbody(data-id=index, id="row"+index, v-for="storie,index in stories")
                              tr.draggable-item(v-if=`storie._projectId=="${projects._id}" && storie._backlog=='4'`)
                                    td(id='tblnombre'+index)
                                      if !usuario.id==projects._scrumMaster
                                        button(data-toggle='modal',data-target='#editar4',@click='buscarhistoria(storie._id)') {{storie._nombre}}
                                      else
                                        p {{storie._nombre}}
                                    td(id='tblcomo'+index)  {{storie._como}}
                                    td(id='tblquiero'+index)  {{storie._quiero}}
                                    td(id='tblmanera'+index)  {{storie._manera}}
                                    td(id='tblprioridad'+index)  {{storie._prioridad}}
                                    td(id='tbltamaño'+index)  {{storie._tamaño}}
                                    td(id='tblunidad'+index)  {{storie._unidad}}
                                    td(id='tbldado'+index)  {{storie._dado}}
                                    td(id='tblcuando'+index)  {{storie._cuando}}
                                    td(id='tblentonces'+index)  {{storie._entonces}}

              .col-lg-4.grid-margin.stretch-card
                .card
                  .card-body
                    a.nav-link(href='/projects/burndown')
                      span.menu-title Sprint Backlog 1.3
                    .table-responsive
                      table.table.table.connected-sortable.droppable-area4
                        thead
                          tr
                            th Nombre
                            th Como
                            th Quiero
                            th De tal manera
                            th Prioridad
                            th Tamaño
                            th Unidad
                            th Dado
                            th Cuando
                            th Entonces
                          tbody(data-id=index, id="row"+index, v-for="storie,index in stories")
                              tr.draggable-item(v-if=`storie._projectId=="${projects._id}" && storie._backlog=='5'`)
                                    td(id='tblnombre'+index)
                                      if !usuario.id==projects._scrumMaster
                                        button(data-toggle='modal',data-target='#editar4',@click='buscarhistoria(storie._id)') {{storie._nombre}}
                                      else
                                        p {{storie._nombre}}
                                    td(id='tblcomo'+index)  {{storie._como}}
                                    td(id='tblquiero'+index)  {{storie._quiero}}
                                    td(id='tblmanera'+index)  {{storie._manera}}
                                    td(id='tblprioridad'+index)  {{storie._prioridad}}
                                    td(id='tbltamaño'+index)  {{storie._tamaño}}
                                    td(id='tblunidad'+index)  {{storie._unidad}}
                                    td(id='tbldado'+index)  {{storie._dado}}
                                    td(id='tblcuando'+index)  {{storie._cuando}}
                                    td(id='tblentonces'+index)  {{storie._entonces}}

            .row
              .col-lg-12.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title Release Backlog 2
                    button.btn.btn-success(data-toggle='modal',data-target='#retro') Agregar retrospectiva
                    .table-responsive
                      table.table.table.connected-sortable.droppable-area5
                        thead
                          tr
                            th Nombre
                            th Como
                            th Quiero
                            th De tal manera
                            th Prioridad
                            th Tamaño
                            th Unidad
                            th Dado
                            th Cuando
                            th Entonces
                          tbody(data-id=index, id="row"+index, v-for="storie,index in stories")
                              tr.draggable-item(v-if=`storie._projectId=="${projects._id}" && storie._backlog=='2'`)
                                    td(id='tblnombre'+index)
                                      if !usuario.id==projects._scrumMaster
                                        button(data-toggle='modal',data-target='#editar4',@click='buscarhistoria(storie._id)') {{storie._nombre}}
                                      else
                                        p {{storie._nombre}}
                                    td(id='tblcomo'+index)  {{storie._como}}
                                    td(id='tblquiero'+index)  {{storie._quiero}}
                                    td(id='tblmanera'+index)  {{storie._manera}}
                                    td(id='tblprioridad'+index)  {{storie._prioridad}}
                                    td(id='tbltamaño'+index)  {{storie._tamaño}}
                                    td(id='tblunidad'+index)  {{storie._unidad}}
                                    td(id='tbldado'+index)  {{storie._dado}}
                                    td(id='tblcuando'+index)  {{storie._cuando}}
                                    td(id='tblentonces'+index)  {{storie._entonces}}
            .row
              .col-lg-4.grid-margin.stretch-card
                .card
                  .card-body
                    a.nav-link(href='/projects/burndown')
                      span.menu-title Sprint Backlog 2.1
                    .table-responsive
                      table.table.table.connected-sortable.droppable-area6
                        thead
                          tr
                            th Nombre
                            th Como
                            th Quiero
                            th De tal manera
                            th Prioridad
                            th Tamaño
                            th Unidad
                            th Dado
                            th Cuando
                            th Entonces
                          tbody(data-id=index, id="row"+index, v-for="storie,index in stories")
                              tr.draggable-item(v-if=`storie._projectId=="${projects._id}" && storie._backlog=='6'`)
                                    td(id='tblnombre'+index)
                                      if !usuario.id==projects._scrumMaster
                                        button(data-toggle='modal',data-target='#editar4',@click='buscarhistoria(storie._id)') {{storie._nombre}}
                                      else
                                        p {{storie._nombre}}
                                    td(id='tblcomo'+index)  {{storie._como}}
                                    td(id='tblquiero'+index)  {{storie._quiero}}
                                    td(id='tblmanera'+index)  {{storie._manera}}
                                    td(id='tblprioridad'+index)  {{storie._prioridad}}
                                    td(id='tbltamaño'+index)  {{storie._tamaño}}
                                    td(id='tblunidad'+index)  {{storie._unidad}}
                                    td(id='tbldado'+index)  {{storie._dado}}
                                    td(id='tblcuando'+index)  {{storie._cuando}}
                                    td(id='tblentonces'+index)  {{storie._entonces}}

              .col-lg-4.grid-margin.stretch-card
                .card
                  .card-body
                    a.nav-link(href='/projects/burndown')
                      span.menu-title Sprint Backlog 2.2
                    .table-responsive
                      table.table.table.connected-sortable.droppable-area8
                        thead
                          tr
                            th Nombre
                            th Como
                            th Quiero
                            th De tal manera
                            th Prioridad
                            th Tamaño
                            th Unidad
                            th Dado
                            th Cuando
                            th Entonces
                          tbody(data-id=index, id="row"+index, v-for="storie,index in stories")
                              tr.draggable-item(v-if=`storie._projectId=="${projects._id}" && storie._backlog=='7'`)
                                    td(id='tblnombre'+index)
                                      if !usuario.id==projects._scrumMaster
                                        button(data-toggle='modal',data-target='#editar4',@click='buscarhistoria(storie._id)') {{storie._nombre}}
                                      else
                                        p {{storie._nombre}}
                                    td(id='tblcomo'+index)  {{storie._como}}
                                    td(id='tblquiero'+index)  {{storie._quiero}}
                                    td(id='tblmanera'+index)  {{storie._manera}}
                                    td(id='tblprioridad'+index)  {{storie._prioridad}}
                                    td(id='tbltamaño'+index)  {{storie._tamaño}}
                                    td(id='tblunidad'+index)  {{storie._unidad}}
                                    td(id='tbldado'+index)  {{storie._dado}}
                                    td(id='tblcuando'+index)  {{storie._cuando}}
                                    td(id='tblentonces'+index)  {{storie._enton

              .col-lg-4.grid-margin.stretch-card
                .card
                  .card-body
                    a.nav-link(href='/projects/burndown')
                      span.menu-title Sprint Backlog 2.3
                    .table-responsive
                      table.table.table.connected-sortable.droppable-area8
                        thead
                          tr
                            th Nombre
                            th Como
                            th Quiero
                            th De tal manera
                            th Prioridad
                            th Tamaño
                            th Unidad
                            th Dado
                            th Cuando
                            th Entonces
                          tbody(data-id=index, id="row"+index, v-for="storie,index in stories")
                              tr.draggable-item(v-if=`storie._projectId=="${projects._id}" && storie._backlog=='8'`)
                                    td(id='tblnombre'+index)
                                      if !usuario.id==projects._scrumMaster
                                        button(data-toggle='modal',data-target='#editar4',@click='buscarhistoria(storie._id)') {{storie._nombre}}
                                      else
                                        p {{storie._nombre}}
                                    td(id='tblcomo'+index)  {{storie._como}}
                                    td(id='tblquiero'+index)  {{storie._quiero}}
                                    td(id='tblmanera'+index)  {{storie._manera}}
                                    td(id='tblprioridad'+index)  {{storie._prioridad}}
                                    td(id='tbltamaño'+index)  {{storie._tamaño}}
                                    td(id='tblunidad'+index)  {{storie._unidad}}
                                    td(id='tbldado'+index)  {{storie._dado}}
                                    td(id='tblcuando'+index)  {{storie._cuando}}
                                    td(id='tblentonces'+index)  {{storie._entonces}}

      include modals/historias.pug
      include modals/editarhistorias.pug
      include modals/editarhistoriasrelease.pug
      include modals/editarhistoriasrelease2.pug
      include modals/createRetro.pug
      include modals/editarhistoriassprint.pug
