extends ../layout
block content
  div(id='app')
    .container-scroller
      nav.navbar.default-layout.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
        .text-center.navbar-brand-wrapper.d-flex.align-items-top.justify-content-center
          a.navbar-brand.brand-logo(href='/')
            strong SCRUMPage
          a.navbar-brand.brand-logo-mini(href='/')
            img(src='/images/logo-mini.svg' alt='logo')
        .navbar-menu-wrapper.d-flex.align-items-center

          ul.navbar-nav.navbar-nav-right
            li.nav-item.dropdown.d-none.d-xl-inline-block
              a#UserDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-expanded='false')
                span.profile-text Hola, #{usuario.fullName}!
                img.img-xs.rounded.circle(src=usuario.thumbnail)
              .dropdown-menu.dropdown-menu-right.navbar-dropdown(aria-labelledby='UserDropdown')
                a.dropdown-item.p-0
                  .d-flex.border-bottom
                    .py-3.px-4.d-flex.align-items-center.justify-content-center
                      i.mdi.mdi-bookmark-plus-outline.mr-0.text-gray
                    .py-3.px-4.d-flex.align-items-center.justify-content-center.border-left.border-right
                      i.mdi.mdi-account-outline.mr-0.text-gray
                    .py-3.px-4.d-flex.align-items-center.justify-content-center
                      i.mdi.mdi-alarm-check.mr-0.text-gray
                a.dropdown-item.mt-2
                  | Administrar cuentas
                a.dropdown-item
                  | Cambiar contraseña
                a.dropdown-item
                  | Revisar mensajes
                a.dropdown-item(href='/auth/logout')
                  | Salir
          button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type='button' data-toggle='offcanvas')
            span.mdi.mdi-menu

      .container-fluid.page-body-wrapper
        nav#sidebar.sidebar.sidebar-offcanvas
          ul.nav
            li.nav-item.nav-profile
              .nav-link
                .user-wrapper
                  .profile-image
                    img(src=usuario.thumbnail)
                  .text-wrapper
                    p.profile-name #{usuario.fullName}
                    div
                      small.designation.text-muted #{usuario.role}
                      span.status-indicator.online
                button.btn.btn-success.btn-block(type='button' data-toggle='modal' data-target='#myModal')
                  | Crear Tarjeta
                  i.mdi.mdi-plus
            li.nav-item
              a.nav-link(href='/team/list')
                i.menu-icon.mdi.mdi-television
                span.menu-title Equipo de trabajo
            li.nav-item
              a.nav-link(href='/projects/list')
                i.menu-icon.mdi.mdi-table
                span.menu-title Proyectos

        .main-panel
          .content-wrapper
            strong PROYECTO DE PRUEBA
            .row
              .col-lg-6.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title Backlog
                    .table-responsive
                      table.table
                        thead
                          tr
                            th Tarea
                            th Prioridad
                            th Tiempo Est.
                            th Estado
                        tbody
                          tr
                            td Enlazar a la base de datos
                            td 4
                            td 1 hr
                            td
                              label.badge.badge-danger Pending
                          tr
                            td Creacion de tarjetas
                            td 5
                            td 10 hrs
                            td
                              label.badge.badge-danger Pending
                          tr
                            td Conectar con redes sociales
                            td 2
                            td 10 hrs.
                            td
                              label.badge.badge-danger Pending
                          tr
                            td Estimaciones de tiempo
                            td 2
                            td 8 hrs
                            td
                              label.badge.badge-danger Pending

              .col-lg-6.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title Sprint Backlog
                    .table-responsive
                      table.table
                        thead
                          tr
                            th Tarea
                            th Prioridad
                            th Tiempo Est.
                            th Estado
                        tbody
                          tr
                            td Conectar ventanas
                            td 5
                            td 1 hr
                            td
                              label.badge.badge-warning In progress
                          tr
                            td Diseño de formularios
                            td 2
                            td 2 hrs.
                            td
                              label.badge.badge-warning In progress
                          tr
                            td Mover tarjetas entre tablas
                            td 5
                            td 10 hrs.
                            td
                              label.badge.badge-warning In progress

              .col-lg-6.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title Sprint Backlog
                    .table-responsive
                      table.table
                        thead
                          tr
                            th Tarea
                            th Prioridad
                            th Tiempo Est.
                            th Estado
                        tbody
                          tr
                            td Vistas
                            td 3
                            td 10 hrs
                            td
                              label.badge.badge-success Completed
                          tr
                            td Controladores
                            td 3
                            td 10 hrs.
                            td
                              label.badge.badge-success Completed

        #myModal.modal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title Crear historia de usuario
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                form(action='/projects/',method='POST')
                  .form-group
                    label.col-form-label(for='nombre') Nombre de la historia:
                    input.form-control(type='text', id='name', name='name')
                  .form-group
                    label.col-form-label(for='como') Como:
                    textarea.form-control(id='como',name='como')
                    label.col-form-label(for='quiero') Quiero:
                    textarea.form-control(id='quiero',name='quiero')
                  .form-group
                    label.col-form-label(for='manera') De tal manera:
                    textarea.form-control(id='manera',name='manera')
                  .form-group
                    label.col-form-label(for='dado') Dado:
                    textarea.form-control(id='dado',name='dado')
                  .form-group
                    label.col-form-label(for='cuando') Cuando:
                    textarea.form-control(id='cuando',name='cuando')
                  .form-group
                    label.col-form-label(for='entonces') Entonces:
                    textarea.form-control(id='entonces',name='entonces')
              
                  .form-group
                    label.col-form-label(for= 'prioridad') Prioridad:
                    select.form-control(id='prioridad', name='prioridad')
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      
                  .form-group
                    label.col-form-label(for= 'tamaño') Tamaño:
                    select.form-control(id='tamaño', name='tamaño')
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      option(value='5') 5
                      option(value='8') 8
                      option(value='13') 13
                      option(value='21') 21
                      option(value='34') 34
                      
                    label.col-form-label(for= 'tamaño') Tipo:
                    select.form-control(id='tamaño', name='tamaño')
                      option(value='hrs') horas
                      option(value='dias') dias
                      option(value='mes') meses
                  .form-group
                    input.btn.btn-primary(type='submit')
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar
