#editar.modal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Editar Miembro del equipo
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
          .form-group
            input.form-control(type='text',id='edid',name='edid', hidden='true')
          .form-group
            label.col-form-label(for='edname') Nombre del proyecto:
            input.form-control(type='text', id='edname', name='edname')
            .form-group
            label.col-form-label(for='edduedate') Fecha de solicitud del proyecto:
            input.form-control(type='date', id='eddueDate',name='eddueDate')
          .form-group
            label.col-form-label(for='edstartdate') Fecha de arranque del proyecto:
            input.form-control(type='date', id='edstartDate',name='edstartDate')
          .form-group
            label.col-form-label(for='eddescription') Descripcion del proyecto:
            textarea.form-control(id='eddescription',name='eddescription')
          .form-group
            label.col-form-label(for='edscrumMaster1') Scrum master:
            input(hidden='true' id='edscrumMaster' name='edscrumMaster',value=usuario.id)
            input.form-control(readonly='true',type='text',id='edscrumMastername' name='edscrumMastername' value=usuario.fullName)
          .form-group 
            label.col-form-label(for='owners') Dueño del producto:   
            vue-multiselect(
              id='edowners',
              name='edowners',
              v-model="ownerseleccionados",
              deselect-label="Can't remove this value",
              track-by="_id",
              label="_fullName",
              placeholder="Agrega a un dueño del producto",
              :options="usersoptions",
              :searchable="false",
              :allow-empty="false"
            )
            input(hidden='true',id='edowner',name='edowner' :value="ownerseleccionados._id")
            input(hidden='true',id='edownerName',name='edownerName' :value="ownerseleccionados._fullName")
          .form-group
            label.col-form-label(for='members') Equipo de trabajo:
            vue-multiselect(
              id='members',
              name='members',
              v-model="usuariosseleccionados",
              tag-placeholder="Add this as new tag",
              placeholder="Agrega a un miembro de trabajo",
              label="_fullName",
              track-by="_id",
              :options="usersoptions",
              :multiple="true",
              :taggable="true",
              @tag="addTag"
            )
            input(hidden='true',id='edteam',name='edteam', v-for="usuariosseleccionado in usuariosseleccionados" :value="usuariosseleccionado._id")
            input(id='edteamName',name='edteamName', v-for="usuariosseleccionado in usuariosseleccionados" :value="usuariosseleccionado._fullName")                         
          .form-group                 
            button.btn.btn-primary(type='button', @click='updateproyecto' data-dismiss='modal') Actualizar 
            button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar 
